@*
    RhsDashboard - ASP.Net Core 8 App - Developed by Ali Emin Çomoğlu | 2025
*@

<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">© @DateTime.Now.Year RhsDashboard. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">Made by <span class="text-primary-600">Ali Emin Çomoğlu</span></p>
        </div>
    </div>
</footer>